<div>
    welcome {{ message}}
</div>
<h2>
    Technology and Market Research Analysis
</h2>
<p>
    Our management consultants provide advisory services in Information Technology determining strategic direction, best practices and road map for IT transformation keeping you ahead of the industry trends.

    Our technology consultants provide technical and competitive intelligence in Mobile & Enterprise Software and Consumer electronics.

</p>
<h3>
    Patent Portfolio Management
</h3>
<p>
    Our intellectual property consultants can provide advisory services to manage your patent portfolio. We also provide research and advisory services for our clients regarding third party patent portfolios.
</p>
<h3>
    IP Landscaping
</h3>
<p>
    Our consultants have deep expertise in software and hardware and can provide a clear snapshot of a specific market segment in an industry or a specific technology or a patent landscape for an organization.
</p>