<div ng-app="myapp" ng-controller="Demo1">
<div class = "container" style="width:555px">
    <div style="text-align:center;">
    <h3><b>Registraion </b></h3>
    </div>
    <div ng-controller = "RegisterController">
    <form role = "form" class="well" ng-hide="ifSearchUser">
    <div class = "form-group">
    <label for = "name"> Name:  </label>
    <input type = "text" id = "name" class = "form-control" placeholder = "Enter Name " ng-model = "newuser.name">
    </div>
    <div class = "form-group">
    <label for = "password"> Password:  </label>
    <input type = "password" id = "password" class = "form-control" placeholder = "Enter Password " ng-model = "newuser.password">
    </div>
    <br>
    <input type="hidden" ng-model="newuser.id">
    <input type="button" class="btn btn-group-justified" ng-click="Login()" class="btn btn-primary" value = "Login">
    <br>
    <div aline="right">
    <a href="#/register" class="btn btn-link">Register</a>
    </div>
    </form>
    </div>
    </div>
    </div>

  