<div class = "container" style="width:555px">
<div style="text-align:center;">
<div>
    <table>
        <tr ng-repeat="course in courses">
            <td>
                {{course}}
            </td>
        </tr>
    </table>
</div>
<form role = "form" class="well" ng-hide="ifSearchUser"></form>
<div class = "form-group">
<ul>
    Mathematics
    Computer Science.
    Mechanical Engineering.
    Marketing / Business Studies
    Law.
    Accounting.
    Architecture.
    Medicine.
</ul>
<div ng-controller="Demo">
<a href="#" class="btn btn-primary" ng-click="index.html" class="btn btn-primary" value = "Back"> Back</a>
</div>
</form>
</div>
</div>